// colors
$white: #FFF;
$snow: #FAFAFA;
$quickSilver: #A0A0A0;
$jellyBean: #E56353;
$salmon: #E97F12;
$pastelPink: #F0A9A1;
$graniteGray: #686963;
$taupeGray: #91918D;
$gray: #BABAB8;

// Navigation
$img-width: 15rem;

// header
$height-header: 600px;
$size-title:70px;